a {
  text-decoration: none;
}
li {
  list-style: none;
}

body {
  font-family: Serif;
}

header {
  height: 60px;
  width: 1400px;
  position: fixed; 
  top: 0;
  z-index: 1;
  margin: 0 auto;
}
header img {
  width: 150px;
  margin-left: 20px;
  padding: 20px 20px;
  float: left;
}
.gnav {
  margin-right: 40px;
}
.gnav a {
  display: inline-block;
  line-height: 60px;
  padding: 20px 20px;
  color: #FCFAF2;
  font-weight: normal;
  font-size: 20px;
  opacity: 0.8;
  float: right;
}
.grav a:hover {
  color: red;
  opacity: 0.9;
}
.top-wrapper {
  background-image: url(https://www.kurokawaonsen.or.jp/asset/images/event/yuakari/img-header.jpg);
  background-size: cover;
  max-width: 1400px;
  height: 700px;
  position: relative;
}
.top-wrapper h2 {
  color: #FCFAF2;
  font-weight: normal;
  font-size: 40px;
  position: absolute;
  top: 100px;
  right: 200px;
  opacity: 0.9;
}
.image-wrapper {
  background-color: #080808;
  width: 1400px; 
  padding: 50px 0;
  height: 400px;
}
.images img {
  float: left;
  width: 30%;
  height: 350px;
  padding: 20px 20px;
}
.concept {
  width: 1400px;
  background-color: #080808;
  color: #FCFAF2;
  text-align: center;
  font-weight: normal;
  height: 300px;
  padding: 50px 0;
}
.concept h2 {
  font-size: 55px;
  font-weight: normal;
  letter-spacing: 5px;
}
.concept p {
  font-size: 30px;
  letter-spacing: 5px;
  padding: 20px 30px;
}
