body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;

header {
  background-color: #1C1C1C;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 1;
}
header h2 {
  font-size: 32px;
  color: #FCFAF2;
  float: left;
}
.header-small {
  background-color: #1C1C1C;
}
.header-small a {
  color: #FCFAF2;
  border: 1px solid #96632E;
  display: inline-block;
  opacity: 0.8;
  float: right;
}
.header-small a:hover {
  opacity: 1;
}
.top-wrapper {
  background-image: url(https://www.kurokawaonsen.or.jp/asset/images/event/yuakari/img-header.jpg);
  background-size: cover;
  height: 580px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.top-message {
  color: #FCFAF2;
  opacity: 0.8;
  text-align: center;
}
.top-message h1 {
  padding: 180px 0 180px 0;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.menu-wrapper {
  height: 300px;
  text-align: center;
  background-color: #FCFAF2; 
}
.category {
  padding-top: 50px;
  padding-bottom: 50px;
}
 .category {
   float: left;
   width: 30%;
   display: inline-block;
}
.food-img {
  background-image: url(http://www.kurokawaso.com/ryori/ryori.jpg);
}
.room-img {
  background-image: url(http://www.kurokawaso.com/tatazuma/heya2.jpg);
}
.bath-img {
  background-image: url(http://www.kurokawaso.com/furo/img/slide03.jpg);
}
.category p {
  font-family: meiryo;
  font-size: 13px;
  margin-top: 10px;
}


